body{
    background-color: #0d1117;
}

.cabecalho{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #010409;
    text-decoration: none;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    padding: 17px 0 13px;
    border-radius: 0 0 10px 10px;
}
.Text{
    color:aliceblue;
}
#FOTO_PERFIL{
    width: 50px;
    border:5px solid #0c1122;
    border-radius: 100%;
}

#MAIS_ICON{
    width: 40px;
    filter: invert(100%);
}

.ul1{
    padding: 0 0 0 10px;
}
.ul2{
    padding: 0 10px 0 0;
}
.space_of_header1{
    height:90px;
}
.Main_Body{
    margin:25px;
    height:500px;
    border:1px solid #3d444d;
    border-radius: 8px;
    /* background-color:#293443; */
    padding:5px 5px 5px 10px;
}

#Balance_Box{
    width:250px;
    border:1px solid #3d444d;
    border-radius:10px;
    padding:5px 5px 10px 10px;
    background-color:#293443;
    
}

.Balance_Text{
    font-size:20px;
    margin:0 0 5px 0;
    color: #facc15;
}
#Balance_Number{
    padding:0 8px 0 8px;
    border:1px solid #3d444d;
    border-radius:13px;
    background-color:#3d444d;
    display: flex;
    justify-content: space-between;
    
    color: #f0f8ff;
    font-size:30px;
    text-align:right;
}