body{
    background-color: #0d1117;
}

.cabecalho{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #010409;  
    text-decoration: none;
    color: aliceblue;  
    display: flex;
    justify-content: space-between;
    padding: 17px 0 13px;
    border-radius: 0 0 10px 10px ;
}

#FOTO_PERFIL{
    width: 50px;
    border:5px solid #0c1122;
    border-radius: 100%;
}

#MAIS_ICON{
    width: 50px;
    filter: invert(100%);
}

.ul1{
    padding: 0 0 0 10px;
}
.ul2{
    padding: 0 10px 0 0;
}
