header{
    width: auto;
    height: 70px;
    background-color: #010409;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 25px 0 0;
}

body{
    background-color: #0d1117;
}

.Text{
    color: #f0f8ff;
}

.User_Name {
    /*margin: 28px 0 0 0;*/
    display:flex;
    justify-content:space-between;
}