header{
    width: auto;
    height: 70px;
    background-color: #010409;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: space-between;
}


body{
    background-color: #0d1117;
}

.Text{
    color: #f0f8ff;
}

.User_Name {
    margin-top: 10px;
}