body{
    background-color: #0d1117;
}

.cabecalho{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #010409;  
    text-decoration: none;
    color: aliceblue;  
    display: flex;
    justify-content: space-between;
    padding: 17px 0 13px;
}

#FOTO_PERFIL{
    width: 50px;
    border:5px solid rgb(12, 17, 34);
    border-radius: 100%;
}
nav ul{
    padding: 0 10px 0 0;
}
